// FONTS
$gothamFont: 'Gotham', sans-serif;
$montserratFont: 'Montserrat', sans-serif;
$poppinsFont: 'Poppins', sans-serif;

// COLORS
$darkbrown: #2F281E;
$brown: #544837;
$orange: #FF9900;
$lightblue: #BCD0E5;
$white: #FFFFFF;