.footer {

    .container {
        padding-top: 70px;
        padding-bottom: 70px;
        border-top: 1px solid $lightblue;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 30px;

        .logo {
            margin: 0 auto;
        }

        .quick-links {
            h4 {
                font-family: $gothamFont;
                font-weight: 700;
                font-size: 20px;
                color: $darkbrown;
                margin-bottom: 30px;
            }

            ul {

                li {

                    &:hover a {
                        color: $orange;
                        transition: all .2s ease;
                    }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    a {
                        font-family: $montserratFont;
                        font-size: 16px;
                        font-weight: 500;
                        color: $brown;
                        transition: all .2s ease;
                    }
                }
            }
        }

        .legal-stuff {
            h4 {
                font-family: $gothamFont;
                font-weight: 700;
                font-size: 20px;
                color: $darkbrown;
                margin-bottom: 30px;
            }

            ul {

                li {

                    &:hover a {
                        color: $orange;
                        transition: all .2s ease;
                    }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    a {
                        font-family: $montserratFont;
                        font-size: 16px;
                        font-weight: 500;
                        color: $brown;
                        transition: all .2s ease;
                    }
                }
            }
        }

        .form {
            h4 {
                font-family: $gothamFont;
                font-weight: 700;
                font-size: 20px;
                color: $darkbrown;
                margin-bottom: 30px;
            }

            input {
                border: 1px solid $lightblue;
                font-family: $montserratFont;
                font-size: 16px;
                padding: 15px 10px 15px 10px;
                border-radius: 4px;
                margin-bottom: 25px;

                &::placeholder {
                    color: #BCD0E5;
                }
            }

            button {
                font-family: $poppinsFont;
                font-weight: 700;
                font-size: 16px;
                text-align: center;
                color: $white;
                background-color: $orange;
                border-radius: 4px;
                border: none;
                padding: 13px 40px;
                line-height: 24px;
                cursor: pointer;
            }
        }
    }
}